
#agent #video {
  width: 100%;
  height: auto;
  margin: 10px 0;
}

#webcams {
  width: 100%;
  height: 150px;
  position: relative;
}

#webcams > #me, #partner {
  height: 100%;
  width: 200px;
  position: absolute;
  top: 0;
  background: black;
}

#me {
  left: 0;
}

#partner {
  right: 0;
}

#client #video {
  width: auto;
  height: 500px;
  background: black;

  margin: 10px 0;
}
